<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Duada</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Duada</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>com.nilico.duaya</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>duaya</string>
				</array>
			</dict>
		</array>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-6544023803448612~3955839955</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Location is used on-device to calculate qibla direction and prayer times.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Duada uses your location to show accurate prayer times for your current area and keep the next prayer information up to date.</string>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>com.nilico.duaya.iftarLiveActivityStart</string>
			<string>com.nilico.duaya.iftarLiveActivityEnd</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
		</array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSSupportsLiveActivities</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
